.travel-widget {
    width: 450px;
    font-size: 12px; /* Smaller text for more content */
}

.travel-widget h4 {
    text-align: left;
    margin-bottom: 5px;
    color:#ffffff;
}

.travel-widget .station-info {
    text-align: center;
    font-size: 10px; /* Smaller font for station info */
    color: #cccccc; /* Light grey for secondary text */
    margin-bottom: 10px; /* Space between station info and table */
}

