/* Weather Widget Styling */
.weather-widget {
    color: #ffffff; /* White text for consistency */
    box-sizing: border-box;
    justify-content: space-between;
}

/* Meta Information Styling */
.weather-widget .meta {
    font-size: 0.7em;
    color: #b3b3b3; /* Light grey for meta information */
    text-align: right;
    margin-bottom: 10px;
}

/* Content Styling */
.weather-widget .content {
    font-size: 0.9em;
    margin-bottom: 15px;
    
    /* Show max two lines of text
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    max-height: 2.4em;
    */
}

.weather-widget .content strong {
    color: #f1c40f; /* Gold color for strong text */
}

/* Style for the No Data or No Information Case */
.weather-widget p {
    color: #b3b3b3; /* Light grey for paragraphs */
    margin-top: 10px;
    text-align: center;
}