/* Reset margin and padding of all elmements to compensate for differences in browsers. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 10px;
}

header {
    /* Debugging */
    border-style: dotted;
    background-color: lightskyblue;

    height: 5%;
    padding: 10px;
}

main {
    /* Debugging */
    border-style: dotted;
    background-color: aquamarine;

    height: 90%;
    padding: 10px;
}

/* Styling for displaying regular, error and success messages */
.messages {
    margin-bottom: 15px;
    text-align: center;
}

.messages p {
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.messages .error {
    background-color: #e74c3c;
    color: #ecf0f1;
}

.messages .success {
    background-color: #2ecc71;
    color: #ecf0f1;
}

footer {
    /* Debugging */
    border-style: dotted;
    background-color: lemonchiffon;

    height: 5%;
    padding: 10px;
}