main {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    overflow: auto;
}

.grid-item {
    
    /* Debugging border: 1px solid #000; */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

/* Media Query for Vertical Screens */
@media (max-width: 1080px) {
    main {
        grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns for narrow screens */
    }
}